

/* NAV BARRE ET HEADER */
.container{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.navbar{
    width: 70%;
    background-color: black;
    height: 40px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin: 40px;
}

.nav a{
    margin: auto;
    padding: 25px;
    font-size: larger;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: white;
}

.nav a:hover{
    color: gold;
}

.logo{
    height: 100px;
    width: 30%;
    background-color: black;
    margin: auto;
}
.logo img{
    width: 50%;
    margin: 10px;
}

.account{
    filter: invert(100%);
    width: 5%;
    margin: auto;
}
.account img{
    margin: auto;
    width: 60%;
}


body{
    background-color: black;
}

/* LOGO NAV BARRE */

.logo{
    height: 80px;
    width: 30%;
    background-color: black;
    margin: auto;
}
.logo img{
    width: 50%;
    margin: 5px;
}

header {
    width: 100%;
    height: 40vh;
    background-color: rgb(0, 0, 0);
    color: cadetblue;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#navBar {
    width: 100%;
    height: 7vh;
}

#imageGroupe {
    opacity: 0.5;
}

/* PHOTOS RONDES */

#photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;
    width: 100%;
}

.containerPhoto {
    width: 15%;
    clip-path: ellipse(45% 16%);
    background-color: gold;
    display: flex;
    justify-content: center;
    margin-top: -270px;
}

.imagePerso {
    width: 97%;
    clip-path:ellipse( 45% 15.5%);
    object-fit: contain;
    cursor: pointer;
}

.imagePerso:hover {
    opacity: 0.7;
}

/* TEXTE BIOGRAPHIQUE INDIVIDUEL */
/* .containermusicien{
    margin-bottom: 30%;
    margin: auto;
} */

.musicien {
    width: 50%;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: large;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    font-weight: 100;
}

.musicien h3 {
    color: gold;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 20px;
}

.titre {
    font-weight: bold;
}

/* STYLE FOOTER */ 

.network{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
}

.network img{
    width: 100%;
    filter: invert(100%);
}

.network img:hover{
    filter: invert(0%);
    background-color: gold;
}

.footer{
    background-color: rgb(10, 10, 10);
    padding: 50px;
    margin-top: 250px;
}

.textfooter{
    width: 30%;
    margin: auto;
    color: gold;
    font-family:  'Roboto Slab', serif;
    line-height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coordonnées a{
    text-decoration: none;
    color: gold;
}

.coordonnées a:hover{
    text-decoration: none;
    color: gold;
    text-decoration: underline;
}

.navigation a{
    text-decoration: none;
    color: gold;
}

.navigation a:hover{
    text-decoration: none;
    color: gold;
    text-decoration: underline;
}